{% extends 'base.html' %}

{% block content %}
<div class="container-img">
    <img src="{{ url_for('static', filename='book_depository.png') }}" alt="">
</div>
<h1>Feedback</h1>
<div class="container-form">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.service.label }}
            {{ form.service }}
            {% for error in form.service.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rating.label}}
            {% for subfield in form.rating %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </p>
        <p>
            {{ form.comment.label }}
            {{ form.comment }}
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}